@font-face {
  font-family: "Rubik" ;
  src: url("/assets/fonts/comfortaa/static/Comfortaa-Regular.ttf");
}

* {
  font-family: "Rubik";
  margin: 0;
  padding: 0;
}

a:hover{
  cursor: pointer;
}

a{
  text-decoration: none;
}

button {
  padding: 0.3rem 1.3rem;
  border-radius: 0.4rem;
}

#hero-secondary-text,
ul {
  font-size: 18px;
  color: #e5e7eb;
}

full-body-container{
  max-width: 1200px
}

.wrapper {
  max-width: 1110px;
  margin: auto;
  padding: 0 5rem;
}